@page
@model WebDB_Slava_.Pages.FilReq.IndexModel
@{
}
<script>
    function BtnFun(ClassName, obj) {
        var value = obj.value;
        var name = "." + ClassName;
        if (value[0] != "-") {
            $(name).prop('disabled', false);
        }
        else {
            $(name).prop('disabled', true);
        }
    }
</script>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Запросы
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-link text-dark" asp-area="" asp-page="Request/Me">Меню</a>
            </div>
            <div class="card-body">
                <a class="nav-link text-dark" asp-area="" asp-page="Request/Or">Заказы</a>
            </div>
            <div class="card-body">
                <a class="nav-link text-dark" asp-area="" asp-page="Request/PerDep">Отдел кадров</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Фильтры
                </button>
            </h5>
        </div>
        <div class="card-body">

            <form>
                Фильтр сотрудников по должности:
                <select asp-items="Model.SelPosition" name="id" class="form-control-sm" onclick="BtnFun('FilPos', this)">
                    <option value="-1">не выбран</option>
                </select>
                <button asp-page="Filter/FilterPosition" class="btn btn-primary FilPos" disabled>Отфильтровать</button>
            </form>

        </div>
        <div class="card-body">

            <form>
                Фильтр выполненных и невыполненных заказов:
                <select asp-items="Model.SelFind" name="find" class="form-control-sm" onclick="BtnFun('FilFind', this)">
                    <option value="-1">не выбран</option>
                </select>
                <button asp-page="Filter/FilterOrder" class="btn btn-primary FilFind" disabled>Отфильтровать</button>
            </form>

    </div>
    <div class="card-body">

    <form>
        Фильтр отображения ингредиентов определённых поставщиков:
        <select asp-items="Model.SelWare" name="ing" class="form-control-sm" onclick="BtnFun('FilWare', this)">
            <option value="-1">не выбран</option>
        </select>
        <button asp-page="Filter/FilterWarehouse" class="btn btn-primary FilWare" disabled>Отфильтровать</button>
    </form>

</div>
        </div>
    </div>
    </div>
